<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="avatar avatar-online">
            <img src="" alt="User" class="w-px-40 h-auto rounded-circle">
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="pages-account-settings-account.html">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                            <img src="#" alt="" class="w-px-40 h-auto rounded-circle">
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <span class="fw-medium d-block"></span>
                        <small class="text-muted"></small>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="User" asp-action="Profile" class="dropdown-item">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">Mənim Profilim</span>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>

        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Auth" asp-action="Logout" class="dropdown-item">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
            </a>
        </li>
    </ul>
</li>