<div class="p-5 m-5">

    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light meqale"> Imgs Management /</span> Imgs
    </h4>

    <a asp-controller="ImageRooms" asp-action="ImgPost" asp-area="Admin" class="btn btn-success mb-3">Add-imgs</a>

    <table id="example" class="table table-striped" style="width:100%">

        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Test</th>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
            </tr>
        </tfoot>

    </table>

</div>
